@model  List<UserRoleViewModel>
@{ 

    var roleId = ViewBag.roleId;
}
<form  method="post">
    <div class="card">
        <div class="card-header">
            Add Or Remove Users From This Role 
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
            <div class="form-check" m-1>
                @*<input type="hidden"   name="name" value="@ViewBag.roleId" />*@
                <input type="hidden" asp-for="@Model[i].UserId" />
                <input type="hidden" asp-for="@Model[i].UserName" />
                <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                <label class="form-check-label" asp-for="@Model[i].IsSelected">
                    @Model[i].UserName
                </label>
            </div> 
            }
        </div>
        <div class="card-footer">
            <button value="Update" asp-controller="Adminstration" asp-action="EditUsersInRole"
                    asp-route-id="@roleId" class="btn btn-primary">Cancel</button> </>

            <input type="submit" value="Update" asp-controller="Adminstration"
                   asp-action="EditUsersInRole" asp-route-id="@roleId"
                   class="btn btn-primary"/>
        </div>
    </div>
</form>